:root{
    --azulClaro: #cbe1ff;
    --azulMedio: #6896d4;
    --azulEscuro: #0b3a79;
    --fundo: #fffff5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*section images*/ 

#sectionImages{
    width: 100%;
    height: 35vh;
    background-color: var(--fundo);
}
.images{
    margin-left: 5%;
    float: left;
    margin-top: 2.5%;
    width: 33%;
    height: 75%;
    border-radius: 45px;
    background-color: var(--azulClaro);
}
#before{
    margin-left: 14%;
}

/*section identify*/ 

#sectionIdentify{
    width: 100%;
    height: 35vh;
    background-color: var(--fundo);
    padding: 1px;
}

.questions{
    margin-left: 5%;
    width: 90%;
    height: 40%;
    background-color: var(--fundo);
}

.textId{
    color: var(--azulEscuro);
}

#identify{
    margin-top: 7vh;
}

.checkbox{
    width: 100%;
    height: 30%;
    border-radius: 10px;
    background-color: var(--azulMedio);
}


/*section information*/ 

#sectionInformation{
    width: 100%;
    height: 70vh;
    background-color: var(--fundo);
    padding: 1px;
}

.proCheckbox{
    margin-left: 4%;
    width: 90%;
    height: 20%;
    border-radius: 55px;
    margin-top: 7vh;
    background-color: var(--azulMedio);
    display: flex;
    align-items: center;        /* centraliza verticalmente */
    justify-content: space-between;  /* separa esquerda e direita */
}

.TextInformations{
    margin: 0;
    margin-left: 3%;
    color: var(--azulEscuro);
}

.iconFlecha{
    width: 6%;
    height: 40%;
    margin-right: 3%;
    background-color: var(--fundo);
}
